 
.spinner{ 
	position: absolute;
	top: 0;
	inset-inline-start: 0;
	z-index: 4;
	display: block;
	width: 100%;
	height: 100%;
}
  
.spinner-blur{
	clear: both;
	opacity: .5;
	user-select: none;
	pointer-events: none;
}
  
.spinner-container{
	position: relative;
	transition: opacity .3s;
}
  
.spinner-container::after{
	position: absolute;
	top: 0;
	inset-inline-end: 0;
	bottom: 0;
	inset-inline-start: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0;
	transition: all .3s;
	content: "";
	pointer-events: none;
}
  
.spinner-blur::after{
	opacity: .4;
	pointer-events: auto;
}

.spinner .spining{
	width: 100%;
	height: 100%;
	display: inline-flex;
	align-items: center; 
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.spinner .spinner_icon{
	font-size: 28px;
	display: inline-flex;
}
   
.spinner-icon circle{
	animation: spinner-dash 1.5s linear infinite;
}

.loading-icon{
	animation: loading 1s infinite linear;
}

.spinner-zoom{
	animation: spinZoom 1s infinite linear ; 
	
}
 


dot {
    display: inline-block; 
    height: 1em; line-height: 1;
    text-align: left;
    vertical-align: -.25em;
    overflow: hidden;
}
dot::before {
    display: block;
    content: '...\A..\A.';
    white-space: pre-wrap;   /* 也可以是white-space: pre */
    animation: dot 3s infinite step-start both;
}
@keyframes dot {
    33% { transform: translateY(-2em); }
    66% { transform: translateY(-1em); }
}





  
@keyframes spin {
	to {
		transform: rotate(1turn)
	}
}

@keyframes spinner-dash {
	0% {
		stroke-dasharray: 1,150;
		stroke-dashoffset: 0;
	} 
	50% {
		stroke-dasharray: 90,150;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 90,150;
		stroke-dashoffset: -124;
	}
}
  
@keyframes loading {
	100% { 
	transform: rotate(360deg);
	}
}


@keyframes spinZoom {
	0% {
		transform: scale(.15) rotate(0);
	}
	100% {
		transform: scale(.95) rotate(360deg);
	}
}