
@import url(../../styles/markdown.css);
@import url(../../styles/code.css);

.markdown {
	font-size: 15px;
	color: #333;
	background: #fff;
	font-family: Helvetica, Arial, "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "tohoma,sans-serif";
	margin: 0;
	padding:5%;
}
