





.select-dropdown{
    margin: 0; 
    padding:0;

    font-size: 14px;
    line-height: 1.57;

    list-style: none;
    position: absolute;  
    overflow: hidden;
    outline: none;
    font-variant: initial;
    background-color: #fff;

    border-radius: 0.25rem;
    color: rgba(0,0,0,.88);
    box-shadow: 0 6px 16px 0 rgba(0,0,0,.08), 0 3px 6px -4px rgba(0,0,0,.12), 0 9px 28px 8px rgba(0,0,0,.05);
}

.select-input[data-open]{
    color: rgba(0,0,0,0.25);
}

.select-box{
    width: 100%;
    height: 100%;
}

.select-box .select-item{
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    padding: calc(0.5rem) 0.75rem;
    cursor: pointer;
    font-size: 0.875rem;
    color: rgb(0, 0, 0);
    border-radius: 0.25rem;
}

.select-box .select-item:hover{
    background-color: rgb(241, 243, 245);
}

.select-box .select-item[data-disabled] {
    cursor: not-allowed;
    color: rgb(144, 146, 150); 
}

.select-box .select-item[data-active]{
    color: rgba(0,0,0,.88);
    font-weight: 600;
    background-color: #e6f4ff;
} 



