



.themes-box{
    max-height: 80vh;
    display: flex;
    flex-direction: column;
}

.themes-box .themes-segment, 
.themes-box .themes-footer{
    height: 38px;
}

.themes-footer{
    margin-left: 12px;
    display: flex;
}

@media screen and (max-width: 479px){
    .card-header{
        display: none;
    }
    .themes-box .themes-segment{
        display: flex;
        justify-content: center;
    }
    .themes-box .themes-footer{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.themes-box .themes{
    height: calc(80vh - 136px);
} 

.themes{ 
    display:flex;
    flex-wrap: wrap; 
    margin: 12px;
    overflow:auto; 
}


.themes .theme{
    flex: 1;
    margin: 12px;
    margin-top: 0px;
    margin-bottom: 36px;
    border-radius: 8px;  
}

.theme .item{
    font-size: 12px; 
    margin-bottom:-12px;
    border-radius: 8px;
    padding: 18px 48px;
    position: relative;   
}

.item span{
    mix-blend-mode: difference; 
    color: rgba(255,255,255, 0.85); 
}
 
 