






.card{
    outline: 0px; 
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    border-radius: 0.25rem;
    box-shadow: none;
    position: relative;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    padding: 1.25rem;
    border: 0.0625rem solid rgb(222, 226, 230);
    margin: 12px;

    max-height: calc(95vh - 80px); 
}
 
.card:not(.card-bordered) {
    border: none;
    box-shadow: 0px 0px 12px rgba(0,0,0,.12);;
    /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02); */
}

.card .card-header{
    text-align: center;
}


.card .card-body{
    padding: 24px;
    border-radius: 0 0 8px 8px; 
    max-height: 80vh;
}

.card .card-footer{
    margin: 0;
    padding: 0;
    list-style: none;
    background: #ffffff;
    border-top: 1px solid #f0f0f0;
    display: flex;
    border-radius: 0 0 8px 8px;
}

@media screen and (max-width: 479px){
    .card .card-body{
        padding: 0;
    }
}