body{
  box-sizing: border-box;

  --bg-0:#98eecc;
  --bg-30:#d0f5be;
  --bg-60:#fbffdc; 
  --bg-100:#a4907c;
  background: linear-gradient(180deg, var(--bg-0) 0%, var(--bg-30) 30%, var(--bg-60) 60%, var(--bg-100) 100%);
  overflow: hidden;
  /* background: radial-gradient(circle at 60% 90%,#2e67a1,transparent 60%),radial-gradient(circle at 20px 20px,rgba(46,103,161,.8),transparent 25%),#182336; */
}

#root {
  position: relative;
  min-width: 100vw; 
  min-height: 100vh; 
  background-position: center center;
  background-repeat: repeat; 
  overflow: auto; 
  overflow-x: hidden;
  background-image: url('./assets/bg.png');
}

.figure {
  display: inline-flex;
  position: relative;    
  filter: sepia(100%);
}
.figure::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(#000a, #000a),
      repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 0 / 2500px 2500px,
      repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 60% 60% / 2500px 2500px;
  background-blend-mode: normal, difference;
  mix-blend-mode: overlay;
  opacity: .6;
}


body {
  /* 需要设置背景 */
  /* background: #fff; */
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
}

body.dark-mode {
  /* filter: invert() — 是从0到1的刻度，1是从白变黑 */
  /* filter: hue-rotate() — 改变你元素的颜色，同时尽量保持原本相同的色系，取值0deg到360deg。 */
  filter: invert(1) hue-rotate(270deg);
}

 
 

.badge-status{
  width: 6px;
  height: 6px; 
  left: 1px; 
  border-radius: 50%;
  margin: 0 5px;
  position: relative;
  display: inline-block; 
  vertical-align: middle;
  color: var(--status-color,'#1677ff');
  background-color: var(--status-color,'#1677ff'); 
}

.badge-status::after{
  content: "";
  position: absolute;
  top: -1px; 
  inset-inline-start: -1px;
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  border-radius: 50%;
  animation-name: dot-processing;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes dot-processing{
  0%{
    transform:scale(0.8);
    opacity:0.5;
  }
  100%{
    transform:scale(2.4);
    opacity:0;
  }
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em );
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


  

* {
  transition-property: background-color,border-color,color,fill,stroke;
  transition-duration: .15s;
}
.theme-toggle {
  border: none;
  background: 0 0;
  cursor: pointer;
}
.dark .dark\:text-gray-100 {
  --tw-text-opacity: 1;
  color: rgb(243 244 246/var(--tw-text-opacity));
}

.theme-toggle {
  --theme-toggle__within--duration: 500ms;
  --theme-toggle__simple--duration: 500ms;
  --theme-toggle__lightbulb--duration: 500ms;
  --theme-toggle__inner-moon--duration: 500ms;
  --theme-toggle__horizon--duration: 500ms;
  --theme-toggle__half-sun--duration: 500ms;
  --theme-toggle__expand--duration: 500ms;
  --theme-toggle__eclipse--duration: 500ms;
  --theme-toggle__dark-side--duration: 500ms;
  --theme-toggle__dark-inner--duration: 500ms;
  --theme-toggle__classic--duration: 500ms;
  --theme-toggle__around--duration: 500ms;
}
.theme-toggle input[type=checkbox] {
  display: none;
}
.theme-toggle.theme-toggle--reversed .theme-toggle__classic{
  transform: scaleX(-1);
}



.content{
  width: 100vw;
  height: 100vh;
}

.main{
  width: 100%;
  max-width: 900px; 
  margin: 0 auto;
  position: relative;
}


.theme-root__init{
  --btn-primary-color: #1677ff;
  --btn-hover-primary-color: #4096ff;
 
  --btn-danger-color: #ff4d4f;
  --btn-hover-danger-color: #ff7875;

  --error-color:#ff4d4f;
}

font12{
  font-size: 12px;
}

blockquote {
  padding: 20px;
  background-color: #fafafa;
  border-left: 6px solid #e6e6e6;
  word-break: break-word;
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  margin: 0 0 20px;
}

table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-left: none;
  word-break: break-word;
}

table th, table td {
  vertical-align: middle;
  text-align: inherit;
  padding: 8px;
  border: 1px solid #eee;
  line-height: 20px;
}
table tr:nth-of-type(2n) {
  background-color: hsla(0,0%,70.2%,.15);
}

pre {
  display: block;
  padding: 10px;
  margin: 0 0 10.5px;
  font-size: 13px;
  line-height: 1.5;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 2px;
}
code {
  color: #000;
  background-color: #f8f9fa;
  border: 1px solid #eaecf0;
  border-radius: 2px;
  padding: 1px 4px;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
  border: none;
}