

.header{
    --height-outer: 10vh;
    --height-inner: 5vh;

    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center;
    /* height: 10vh; */

    position: sticky;
    height: var(--height-outer);
    top: calc(var(--height-inner) - var(--height-outer));
    z-index: 1;
} 

.header .inner{
    display: flex;
    /* line-height: var(--height-inner); */
    height: var(--height-inner);
    position: sticky;
    top: 0; 
}


.main{
    width: 100vw;
    min-height: 80vh;
}

.footer{
    width: 100vw;
    height: 10vh; 
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 0 24px;
    font-size: 13px;
    gap: 24px;
}

.item{
    display:inline-flex;
    gap: 12px;
    text-decoration: underline; 
}

 
.github{
    width: 18px;
    height: 18px;
    background-image: url('../assets/github.svg');
    background-size: contain;
    background-repeat: no-repeat;
} 