

.header{
    --height-outer: 10vh;
    --height-inner: 5vh;

    width: 100%; 
    display: flex;
 
    justify-content: space-between;
    align-items: center;
  
    position: sticky;
    height: var(--height-outer);
    top: 0; 

    z-index: 10;
    padding: 0 24px;
    backdrop-filter: blur(5px); 
    background-color: rgba(255, 255, 255, 0.9);

    overflow: hidden;
} 


.outer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .inner{ 
    display: flex; 
    height: var(--height-inner); 
    align-items: center; 
    gap: 24px;
    overflow: hidden;
}

.header .inner .item{ 
    font-size: 13px;
    cursor: pointer;
    padding: 6px;
    overflow: hidden; 
    transition: all 0.2s;
}

.header .inner .item:hover{
  
    transform: scale(1.2);
}
 


.main{
    width: 100vw;
    min-height: 80vh;
    /* margin-top: 24px; */
    box-sizing: border-box;
    padding-top: 24px;
}

.footer{
    width: 100vw;
    height: 10vh; 
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 0 24px;
    font-size: 13px;
    gap: 24px;
}

.footer .item{
    display:inline-flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    text-decoration: underline; 
}

 
.github{
    width: 18px;
    height: 18px;
    background-image: url('../assets/github.svg');
    background-size: contain;
    background-repeat: no-repeat;
} 